
.secondary__title{
    text-align: center;
    font-weight: 700;
}
.secondary__paragraph{
    float: right;
    font-size: 22px;
}
.graphic__image img{
    margin-left: 15%;
    bottom: 45px;
}

.tarjeta-2{
    top: 20em;

}
.prices img{
    position: absolute;
}